# Pandas 학습

1. 데이터 분석을 위한 모듈
2. excel과 가장 큰 차이점 : Pandas는 대용량 데이터 처리가 가능
3. 데이터 분석 및 데이터 가공에 절대적으로 사용되는 library
4. 주요 학습 내용
> 1. DataFrame - excel의 다수의 컬럼들을 보유한 table과 동일하다 간주
> 2. series - DataFrame을 구성하는 column 간주

**참고**

주피터 노트북 익스텐션을 활용하여 생산성 높이기
>pip install jupyter_contrib_nbextensions && jupyter contrib nbextension install

In [ ]:
# !pip install jupyter_contrib_nbextensions && jupyter contrib nbextension install

## 기초 익히기
> 이미 존재하는 파일의 내용으로 DataFrame 생성하기 <br>
> 중복 데이터 제거 <br>
> 결측시 처리

## DataFrame  & Series 구조 
> https://pandas.pydata.org/docs/getting_started/index.html <br>

In [ ]:
# 전처리를 위한 library import

import numpy as np
import pandas as pd

In [ ]:
!pip show pandas

기초 익히기

In [ ]:
# 시리즈 - 정수값으로 생성시 자동으로 int64 

s = pd.Series([1, 2, 3])
s

In [ ]:
type(s)

In [ ]:
s.values

In [ ]:
s.index

## 날짜와 문자열 데이터 다루기 


- Python의 datetime모듈

>date : 연, 월, 일

>time : 시간, 분, 초, 마이크로초(백만분의 1초)

>datetime : date와 time요소

- Pandas의 Timestamp

>날짜와 시간 모두 포함 : 나노초(10억분의 1초) 단위의 정밀도


- timedelta

>날짜의 덧셈과 뺄셈에 유용

### 특정 날짜를 기준으로 DataFrame생성해 보기

In [ ]:
datas = pd.date_range('20210628', periods=6)
datas

### file로 부터 데이터 read해서 date 타입 이해하기

###  경과일 계산

- timedelta64[??]
  - Y : 연 
  - M : 월 
  - D : 일 
  - m : 분 
  - s : 초

## 인덱서(indexer)

### iloc
- 데이터 프레임의 부분집합 선택을 위한 도구
- iloc는 정수로만 선택
- 여러 개의 정수 위치를 선택하려면 리스트 전달
- 동일한 간격으로 선택하려면 슬라이스 표기

In [ ]:
df = pd.read_csv('dataset/01.date_data.csv')
df

### loc 속성

- 데이터들을 slicing 하는 기술
- loc[index, columns]
- loc는 레이블로만 선택
- 여러 개의 레이블을 선택하려면 리스트 전달
- 동일한 간격으로 선택하려면 슬라이스 표기 사용
- 마지막 레이블까지 포함

In [ ]:
df = pd.read_csv('dataset/01.date_data.csv')
df

### 이미 존재하는 파일의 내용을 기반으로 DataFrame 생성하기

In [ ]:
df = pd.read_csv('dataset/02.friends.csv')
df

In [ ]:
friend_dict_list = [{'name': '신동엽', 'age': 20, 'job': '연예인', 'hobby':'music'},
                     {'name': '유재석', 'age': 41, 'job': '교수', 'hobby':'art'},
                     {'name': '김새롬', 'age': 18, 'job': '학생', 'hobby':'study'},
                     {'name': '이영자', 'age' : 45, 'job': '상담사', 'hobby' : 'talk'},
                     {'name' :  '강호동', 'age' : 38, 'job' : '연예인', 'hobby' : 'talk'}]
type(friend_dict_list)

### 중복 데이터 제거 기술

In [ ]:
friend_dict_list = [{'name': '신동엽', 'age': 20, 'job': '연예인', 'hobby':'music'},
                     {'name': '유재석', 'age': 41, 'job': '교수', 'hobby':'art'},
                     {'name': '김새롬', 'age': 18, 'job': '학생', 'hobby':'study'},
                     {'name': '이영자', 'age' : 45, 'job': '상담사', 'hobby' : 'talk'},
                     {'name' :  '강호동', 'age' : 38, 'job' : '연예인', 'hobby' : 'talk'},
                    {'name': '신동엽', 'age': 20, 'job': '연예인', 'hobby':'music'} ]

df = pd.DataFrame(friend_dict_list)
df

In [ ]:
# step02 - 속성으로 선별해서 삭제

friend_dict_list = [{'name': '신동엽', 'age': 20, 'job': '연예인', 'hobby':'music'},
                     {'name': '유재석', 'age': 41, 'job': '교수', 'hobby':'art'},
                     {'name': '김새롬', 'age': 18, 'job': '학생', 'hobby':'study'},
                     {'name': '이영자', 'age' : 45, 'job': '상담사', 'hobby' : 'talk'},
                     {'name' :  '강호동', 'age' : 38, 'job' : '연예인', 'hobby' : 'talk'},
                    {'name': '신동엽', 'age': 20, 'job': '연예인', 'hobby':'music'} ]

df = pd.DataFrame(friend_dict_list)
df

In [ ]:
# step03 - 동명이인일 경우에 선별해서 삭제

friend_dict_list = [{'name': '신동엽', 'age': 20, 'job': '연예인', 'hobby':'music'},
                     {'name': '유재석', 'age': 41, 'job': '교수', 'hobby':'art'},
                     {'name': '김새롬', 'age': 18, 'job': '학생', 'hobby':'study'},
                     {'name': '이영자', 'age' : 45, 'job': '상담사', 'hobby' : 'talk'},
                     {'name' :  '강호동', 'age' : 38, 'job' : '연예인', 'hobby' : 'talk'},
                    {'name': '신동엽', 'age': 50, 'job': '연예인', 'hobby':'music'} ]

df = pd.DataFrame(friend_dict_list)
df

In [ ]:
# step04 - 원본 DataFrame 자체에 수정 사항 바로 반영하는 속성

friend_dict_list = [{'name': '신동엽', 'age': 20, 'job': '연예인', 'hobby':'music'},
                     {'name': '유재석', 'age': 41, 'job': '교수', 'hobby':'art'},
                     {'name': '김새롬', 'age': 18, 'job': '학생', 'hobby':'study'},
                     {'name': '이영자', 'age' : 45, 'job': '상담사', 'hobby' : 'talk'},
                     {'name' :  '강호동', 'age' : 38, 'job' : '연예인', 'hobby' : 'talk'},
                    {'name': '신동엽', 'age': 50, 'job': '연예인', 'hobby':'music'} ]

df = pd.DataFrame(friend_dict_list)
df

### 결측치 처리

In [ ]:
friend_dict_list = [{'name': '신동엽', 'age': 20, 'job': '연예인', 'hobby':'music'},
                     {'name': '유재석', 'age': 41, 'job': '교수', 'hobby':'art'},
                     {'name': '김새롬', 'age': 18, 'job': '학생', 'hobby':'study'},
                     {'name': '이영자', 'age' : 45, 'job': '상담사', 'hobby' : 'talk'},
                     {'name' :  '강호동', 'age' : 38, 'job' : '연예인', 'hobby' : 'talk'},
                    {'name': '신동엽', 'age': None, 'job': '연예인', 'hobby':'music'} ]
df = pd.DataFrame(friend_dict_list)
df

In [ ]:
df.info()

### 그룹화 하기

In [ ]:
# None 값을 0 값으로 치환

friend_dict_list = [{'name': '신동엽', 'age': 20, 'job': '연예인', 'hobby':'music'},
                     {'name': '유재석', 'age': 41, 'job': '교수', 'hobby':'art'},
                     {'name': '김새롬', 'age': 18, 'job': '학생', 'hobby':'study'},
                     {'name': '이영자', 'age' : 45, 'job': '상담사', 'hobby' : 'talk'},
                     {'name' :  '강호동', 'age' : 38, 'job' : '연예인', 'hobby' : 'talk'},
                    {'name': '신동엽', 'age': None, 'job': '연예인', 'hobby':'music'} ]

df = pd.DataFrame(friend_dict_list)
df['age'].fillna(0, inplace=True)
df

1. job 종류 확인 : unique()
2. job 별 개수 확인 :  value_counts()

In [ ]:
# 데이터 제공

friend_dict_list = [{'name': '신동엽', 'age': 20, 'job': '연예인', 'hobby':'music'},
                     {'name': '유재석', 'age': 41, 'job': '교수', 'hobby':'art'},
                     {'name': '김새롬', 'age': 18, 'job': '학생', 'hobby':'study'},
                     {'name': '이영자', 'age' : 45, 'job': '상담사', 'hobby' : 'talk'},
                     {'name' : '강호동', 'age' : 38, 'job' : '연예인', 'hobby' : 'talk'},
                     {'name': '신동엽', 'age': None, 'job': '연예인', 'hobby':'music'},
                     {'name': '고현정', 'age': 44, 'job': '가수', 'hobby':'music'},
                     {'name': '박민영', 'age': 22, 'job': '학생', 'hobby':'art'},
                     {'name': '박서준', 'age': 18, 'job': '학생', 'hobby':'study'},
                     {'name': '박보검', 'age' : 45, 'job': '상담사', 'hobby' : 'talk'},
                     {'name' : '이효리', 'age' : 28, 'job' : '교수', 'hobby' : 'talk'},
                    {'name': '이상순', 'age': 29, 'job': '주부', 'hobby':'music'}]

df = pd.DataFrame(friend_dict_list)
df

### 조건 기반 필터링

- Pandas의 비교 및 논리 연산자
- 비교 연산자는 기본 연산자를 사용
- AND : &
- OR : |
- NOT : ~
- 논리 연산에 기본 연산자를 사용할 경우 객체
전체의 참을 계산하기 때문에 오류 발생
- 각 표현은 괄호로 묶는 것은 권장

<hr>

**미션**

1. hobby 종류 확인
2. hobby 종류의 총수 확인
3. 종류별 개수

### 두개의 DataFrame 병합하기 - row 기준

In [ ]:
l1 = [{'name': '이효리', 'job': "교수"},
      {'name': '이상순', 'job': "학생"},
      {'name': '박보검', 'job': "개발자"}]

l2 = [{'name': '신동엽', 'job': "치과의사"},
      {'name': '이영자', 'job': "농부"},
      {'name': '정찬우', 'job': "연예인"}]

In [ ]:
df1 = pd.DataFrame(l1, columns = ['name', 'job'])
df2 = pd.DataFrame(l2, columns = ['name', 'job'])

print(df1)
print(type(df1))
print(df1.ndim)
print(df1.shape)

print('-'*20)

print(df2)